.ParentContainer {
  display: flex;
  flex-direction: column;
  color: honeydew;
  min-height:100vh;
  position: fixed;
  padding-left: 20px;
  z-index: 0;
  font-family: 'Merriweather';
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  color: honeydew;
  padding-top: 200px;
  font-family: 'Merriweather';
}
.TwoRowContainer {
  display: flex;
  flex-direction: row;
  color: honeydew;
  min-height:100vh;
  font-family: 'Merriweather';
}

.left {
  left: 0;
  padding-left: 20px;
}

.right {
  right: 0;
  padding-left: 20px;
}

.ColumnContainer {
  display: flex;
  flex-direction: column;
  color: honeydew;
  min-height:100vh;
  font-family: 'Merriweather'
}

.BigContainer {
  display: flex;
  flex-direction: column;
  color: honeydew;
  min-height:100vh;
  font-family: 'Merriweather';
}
